# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Dependencies
node_modules

# Build output
dist

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.*

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Documentation
*.md
LICENSE
