@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text-color: #2B2626;
        --primary-color: #CD3F45;
        --primary-color-light: #F66A70;
        --accent-color: #98D8D5;

        --status-1: #89D6D2;
        --status-2: #F66A70;
        --status-3: #BED051;
        --status-4: #4DBA78;
        --status-5: #4D93BA;
    }

    * {
        -webkit-tap-highlight-color: transparent;
    }

    .dont-break-page {
        page-break-inside: avoid;
    }

    body {
        overflow-x: hidden;
    }

    img {
        max-width: unset !important;
    }

    p,
    h1,
    h2,
    input,
    label,
    td,
    th,
    textarea {
        @apply text-neutral-900 dark:text-white;
    }

    option {
        @apply text-neutral-900;
    }

    .dark .apexcharts-legend-text {
        color: white !important;
    }

    button {
        @apply transform transition-all duration-200 outline-none;
    }

    button:active {
        @apply scale-95 outline-none;
    }

    button:focus {
        @apply outline-none;
    }

    /* Tabela */
    .red-mobile-table {
        @apply w-full;
    }

    .red-mobile-table th {
        @apply text-xs px-1 py-1.5 bg-neutral-300 dark:bg-gray-600;
    }

    .red-mobile-table th:first-child {
        @apply rounded-l-md;
    }

    .red-mobile-table th:last-child {
        @apply rounded-r-md;
    }

    .red-mobile-table tr {
        @apply border-b border-gray-200 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-500;
        page-break-inside: avoid;
    }

    .red-mobile-table tr:first-child {
        @apply border-b-0 hover:bg-transparent;
    }

    .red-mobile-table tr:last-child {
        @apply border-b-0;
    }

    .red-mobile-table td {
        @apply text-xs px-1 py-2.5 text-center;
        page-break-inside: avoid;
    }

    .--ultra-small td,
    .--ultra-small th {
        font-size: 0.6rem;
        @apply px-1;
    }

    .pagebreak {
        page-break-before: always;
    }

    /* page-break-after works, as well */

    /* Light Scroll*/
    .light-scroll::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        opacity: 0;
    }

    .light-scroll::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
        border-radius: 2px;
    }

    .light-scroll::-webkit-scrollbar-thumb {
        background: #B3B3B3;
        border-radius: 4px;
    }

    .light-scroll::-webkit-scrollbar-thumb:hover {
        background: #B3B3B3;
    }

    /* esconder o scroll */
    .hidden-scroll::-webkit-scrollbar-track {
        -webkit-box-shadow: none !important;
        box-shadow: none;
        background-color: transparent;
    }

    .hidden-scroll::-webkit-scrollbar {
        height: 0;
        width: 3px !important;
        background-color: transparent;
    }

    .hidden-scroll::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}

@layer components {

    /* Botões */
    .primary {
        @apply h-11 w-full rounded-md font-bold text-white bg-primary text-sm flex items-center justify-center;
    }

    .hollow {
        @apply h-11 w-full rounded-md font-bold text-primary border border-primary text-sm flex items-center justify-center;
    }

    .primary-big {
        @apply h-12 w-full rounded-md font-bold text-white bg-primary text-sm flex items-center justify-center;
    }

    .modal-primary,
    .modal-secondary {
        @apply outline-none h-10 text-sm flex items-center justify-center flex-1 last:border-r-0 border-gray-200 dark:border-gray-600 text-neutral-900 font-bold opacity-70;
    }

    .modal-primary {
        @apply text-primary opacity-100;
    }

    .modal-primary:disabled {
        @apply cursor-not-allowed opacity-60;
    }

    .modal-secondary {
        @apply dark:text-white;
    }
}

@layer utilities {
    .fill-dark {
        fill: var(--text-color);
    }

    .fill-light {
        fill: white !important
    }
}